
@{
	ViewData["Title"] = "Test";
}

<h1>Test</h1>
<div style="line-height: 20pt">寒暑假我經常出國旅行。雖然，我會說英語和西班牙語，但是，每次出國不管是獨行或跟團，經過機場我還是會緊張，因為我在機場碰過不少麻煩。哥倫比亞是南美走私毒品的天堂，當我們進入哥國，海關檢查行李，他們懷疑我走私毒品，我的行李被翻箱倒篋，因為全團只有我用西班牙語回答海關人員提問。有次，經過美國加州機場，由於我的護照蓋著滿滿的章，移民官懷疑我進出頻繁，被單獨留置一角等待電腦查證。我不安地坐在長板凳上，低頭但眼角瞄到大排長龍等驗證旅客投來異樣的眼神，我很尷尬。二十分鐘後，一位肥胖的移民關小姐還我護照，放我走。前些年，我進入西班牙馬德里機場，海關人員透過X光檢查，對我說：「妳攜帶機械。」我很驚訝地任憑他們翻遍我的手提行李，只查到兩台筆電。我很不爽地反問：「有什麼機械?」最令我印象深刻是魂驚巴黎機場、流落在辛菲羅波爾機場以及迷失於甘迺迪機場。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">年輕時，我在西班牙留學，回台後，每隔幾年，彷彿會聽到第二故鄉召喚的聲音，我就會整理行李踏上歸鄉之路，獨自飛往西班牙。我託旅行社辦理簽證和訂機票，行前我知道要在巴黎轉機。當我拿到機票，心裏滴咕要在巴黎機場等候五個多小時。當天飛機在戴高樂機場上空盤旋，無法降落，因為巴黎濃霧。飛機轉飛奧地利維也納機場，停留一個多小時再起飛，順利降落在戴高樂機場。機場通關規定，歐盟國籍旅客，不用檢查護照，直接由左邊通關。其它國籍必須在右邊排隊驗證，輪到我檢查護照時，莫名其妙地連同站在我後面一位身材很高的中國籍男士一起被移民官帶走，跟他們走到辦公室。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">這位大陸人士不會講半句英文，他一直跟在我後面。過程中，我們被帶到不同單位，單位主管就是一直看護照，翻前又翻後、一再核對機票、問話，折騰很久，移民官問我要去那裡、做什麼，我回答去馬德里、拜訪朋友。大陸人士透過我翻譯，他要去葡萄牙餐廳工作。最後，他們查不出我們有任何犯罪動機，把我們移交給機場一位腰部配戴手槍、穿制服戴帽的高大維安法警，由他押我們搭機場巴士去另一個機場轉機。全車只有我們兩個人，我們被安置坐在司機後面，法警坐在最後特別高的一排座位，大概專門用來看管人犯。我偷瞄到他正襟危坐在正中央，雙腿微開，也從司機前上方的小塊後視鏡看到他威風凜凜一路釘著我們。真無辜，我們又沒在法國犯罪，也不是國際通緝犯，遭逢厄運，還敢輕舉妄動嗎？大約五十分鐘車程，我們抵達另一個機場。法警很快地幫我們辦理登機手續，兩架中型正要起飛的飛機在停機坪等我們，走上扶梯，我們各自結束一場惡夢，他飛往葡萄牙里斯本，我飛往西班牙馬德里。事後，我才知道不是在同一個機場轉機，旅行社沒有辦理法國出境簽證，移民官怕我跳機，所以，請法警押我轉機。</div>
<div style="line-height: 20pt"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></div>
<div style="line-height: 20pt">有次到高加索旅行，參觀完雅爾達，我們回到克里米亞半島首府辛菲羅波爾機場，準備搭下午俄航班機到莫斯科轉香港回台北。看板打出延後兩小時，再延到五點多，總算拿到登機證，我們一團十三人被告知大行李無法正常運送到飛機上，等一下是我們自己要搬到機艙內。俄航櫃台人員說詞：「飛機延誤無法在莫斯科趕上轉機。」大家扛著、拉著或拖著大大小小行李排隊驗證過移民關和海關，進入候機室等待。近六點，機場廣播：飛機故障需要修理調機器，十點多才能飛來，延至凌晨兩點多起飛。白天四班飛機延誤，候機室滿滿洋人群情激憤，咆哮聲彼此彼落。俄航趕快發餐券打發暴跳如雷的旅客，我們各自先領回機票再出關去吃晚餐。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">旅程最後一站要回家了，大家滿載而歸，行李箱不是加重就是加大。尤其參觀摩達維亞酒莊之後，酒莊贈送每人四瓶酒，酒又不能放在行李箱，擰在手裏，一進一出被機場官員折騰半死。晚餐後，大夥待在機場大廳聊天，半夜一點多，毫無預警之下，機場內電燈突然全熄，櫃台工作人員陸陸續續打烊回家，旅客消失無影無蹤，偌大機場頓時安靜下來。除了少數幾位洋人就剩我們，團員橫躺在冰冷的長條鐵椅上，蓋著自己薄外套，瑟縮地瞇眼小憩，洋人則抽煙聊天。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">午夜，領隊說：「飛機延到清晨四點。」我心想：機場都沒有工作人員怎麼飛呢？俄航為了規避提供旅客夜宿，故意欺騙，每兩小時就打出飛機延誤起飛，一路騙騙騙，仿佛詐騙集團，騙得一群東方鄉巴佬團團轉。害我們兩天狼狽地拉大行李，拖小行李，擰一盒酒，進進出出移民關卡，移民官一下要求我們往東，一下往西，其它西方旅客不時投來異樣目光，好像我們是犯罪集團。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">一夜待在機場大廳，我沒睡，不時抬頭看航班，我想知道俄航多久騙一次，要騙多久。隔天中午我們拿到新的登機證，移民官還是要求我們自己推大行李驗證，進入候機室。然後再搬個人所有家當進入停機坪，搬上接駁車，車子開超遠才停在飛機附近，我們卸下家當。大家走到登機階梯前，停機坪工作人員站在一旁觀望，我們都傻眼了，搬運行李不是他們的工作嗎？他們無動於衷，納悶中，我們執行團隊接力賽。四十幾個座位的中小型飛機，扶梯很窄又陡峭，團員都是老弱婦孺，大家分工合作，好幾雙手同時頂住大行李，賣力地由下往上搬運，領隊綽號小白，站在扶梯上面接應。行李搬到飛機上之後，空中小姐指示搬到前機艙，領隊費力地把大行李扛到前機艙置放行李處，但是，行李太大放不下，大部份行李又被扛至後機艙放置。旅行幾十年，搭過五百多趟的飛機，我第一次碰到自己扛大行李上飛機，簡直荒謬到極點。&nbsp;</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">去年到加勒比海旅行，我們一路搭機從桃園、東京再轉機到紐約，抵達紐約甘迺迪機場，領隊說：「五人一組。」我比較早走到行李轉運台，擅自走到行李輸送帶另一端去找行李。拿到自己的行李，回頭，我的室友不見，卻見商務艙四人組正要離開，我跟他們走一小段距離，忽然，想起領隊說五人一組，停下來，猶豫當中，他們已經邁步往前走，不見了。突然，一位海關小姐叫住我，叫我把行李放在她前面行李輸送帶上面。我根本搞不清楚狀況，緊張中，連手提行李也放上去，她眼尖問我：「手提行李嗎？」我即時從移動的輸送帶拿下來。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">她揮手叫我轉彎走，沒走多久，我看到通道兩邊都是商店，很著急，不知如何走。鼓起勇氣問一位執勤黑人女警，她指前面電梯說：「搭到三樓。」電梯門一開，我又慌了。我看到很多旅客在大廳辦理登機手續，焦慮的眼神迅速地在人群中掃瞄，沒看到四人幫。我也不知道是否要辦理登機，驚惶失措中，我拿登機證膽怯地詢問機場一位高大維安人員，他和善地在我的登機證上寫三十五號機門並指出方向。</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">美國機場很大，我一個人不安地拉著有輪子的手提行李走一段不短的通道，走到驗關處，又是脫鞋子、外套，檢查手提行李。進入候機室，我看到四人幫，剎那間，我好高興。一位太太用她的手機傳簡訊給領隊，而領隊正著急的到處找我。旅行老鳥，搭過幾百趟的飛機，我居然還搞這種飛機。因為我不知道過境美國，從紐約轉到邁阿密，旅客必須拿出所有行李再經海關目視下重新放上行李輸送帶，出關再入關，而不是一路掛到邁阿密。當所有團員碰面後，領隊說：「不要再分組了。」</div>
<div style="line-height: 20pt">&nbsp;</div>
<div style="line-height: 20pt">慶幸，我會說英語和西班牙語，否則，一個人旅行經過移民關和海關碰到問題，可是棘手。但是，跟團旅行，我就儘量假裝聽不懂，不答腔、不回應。當移民官問我：「Do you speak English?」我常回答：「No, I don&rsquo;t.」。通關無數，經驗告訴我，機場不是賣弄英文場合，當啞巴比較安全，可以減少機場官員找麻煩。機場是一個國家的門戶，當然，把關要嚴格。依我旅行經驗，以色列、美國和俄羅斯是入關最嚴苛的前三名。入境以色列簡直如臨大敵，大行李經X光檢查重複7次，我的領隊上氣不接下氣，一個人從右邊搬上驗關台，經輸送帶移動到中央X光檢查，驗官人員就是懷疑行李，不放過她，她就走到左邊打開行李讓他們檢查，關上行李再搬到右邊檯上，我們過關就站在前方看著可憐瘦弱領隊被操到無奈。入境美國永遠大排長龍，二十幾個驗證窗口似乎嫌不夠，手續緩慢，照眼睛、壓指紋、問話，現在還來個X光透視全身，通關至少等兩個半小時，排隊前最好先上廁所，可不能隨心所欲走來走去，美國機場官員很有「power」，千萬別惹禍上身，遭到永久禁足。入境俄羅斯，仿佛共黨KGB時代重現，戈巴契夫民主化的時程尚未淨化機場官員根深柢固、僵化的教條思維，荒謬的監視和控管行為，只有身歷其境的旅客才能體會。不管機場過關如何，只要是良民，沒有犯罪記錄都只是虛驚一場，旅行還是快樂的。</div>
